.main-div {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 20px;
}
#head {
  background: linear-gradient(to right, #F36265, #961276);
  font-size: 50px;
  text-align: center;
  margin-left: 35vw;
  margin-right: 35vw;
  padding: 10px;
  border-radius: 8px;
  color: aliceblue;
}